In [1]:
from datetime import datetime
import time
import pandas as pd
import numpy as np
import pandas_datareader.data as web

In [7]:
df = pd.read_excel('./Data/Yahoo_Ticker_Symbols_September_2017.xlsx',sheet_name='Stock',usecols=[0,1,2,3,4],skiprows=[0,1,2])

In [8]:
Stock = df[df['Country']=='USA']

,Ticker,Name,Exchange,Category Name,Country
0,AAPL,Apple Inc.,NMS,Electronic Equipment,USA
1,BAC,Bank of America Corporation,NYQ,Money Center Banks,USA
2,AMZN,"Amazon.com, Inc.",NMS,Catalog & Mail Order Houses,USA
3,T,AT&T Inc.,NYQ,Telecom Services - Domestic,USA
4,GOOG,Alphabet Inc.,NMS,Internet Information Providers,USA
...,...,...,...,...,...
106249,USWL,"US-Worldlink.Com, Inc.",PNK,NaN,USA
106277,GROG,"GroGenesis, Inc.",PNK,Agricultural Chemicals,USA
106283,INCT,"InCapta, Inc.",PNK,NaN,USA
106290,INDVF,IndigoVision Group plc,PNK,NaN,USA
106306,INTQF,InternetQ PLC,PNK,NaN,USA

In [32]:
web.DataReader('KORS', "av-daily", start=datetime(2020, 7, 21),api_key='OBN8PXVTLNCZ2ULQ')

             open     high     low  close   volume
2020-07-21  15.59  16.5800  15.590  16.31  2314910
2020-07-22  16.16  16.5950  15.970  16.38  2982235
2020-07-23  16.36  16.8759  15.570  15.69  9988918
2020-07-24  15.65  15.8000  15.050  15.20  5296138
2020-07-27  15.25  15.2900  14.385  14.72  6692335

In [29]:
r = []
r.append('1')
r.append('2')
','.join(r).split(',')

['1', '2']

0